In [3]:
import zoo
zoo.hours()

Open 9-5 daily

# Import the zoo module
import zoo

# Call the hours() function
zoo.hours()

In [5]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

### Import `zoo` as `menagerie` and Call `hours()`

1. **Open Terminal/Command Prompt**:
    - On Windows: Command Prompt or PowerShell.

2. **Start Python Interactive Interpreter**:
    ```python
    python
    ```

3. **Import `zoo` as `menagerie`**:
    ```python
    >>> import zoo as menagerie
    ```

4. **Call `hours()` Function**:
    ```python
    >>> menagerie.hours()
    Open 9-5 daily
    ```

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select

# Create an engine for the SQLite database
engine = create_engine('sqlite:///books.db')

# Connect to the engine
connection = engine.connect()

# Existing database into a new model
metadata = MetaData()
books = Table('books', metadata, autoload_with=engine)

# Select the title column from the books table and order by title
query = select(books.c.title).order_by(books.c.title)

# Execute the query and get all results
result = connection.execute(query).fetchall()

# Print titles in alphabetical order
for row in result:
    print(row.title)

# Close the connection
connection.close()